*{
padding: 2px;
margin: 2px;
color: rgb(255,0,0);
text-align: center;
}

html, body{

background-color: white;

}
.main-container{
    border: 4px solid rgb(255,122,0);
border-radius:20px;
margin: 2rem;
background-color:rgb(50,50,50)
}

nav, section, footer, article, aside{
    border: 2px solid rgb(100,122,12);
    margin: 1rem;
    border-radius: 10px;
    padding:10rem;
}
article, aside{
    width:40%;
    display: inline-block;
    height: 200px;
    background-color:rgb(107, 107, 107);

}



